@import url('https://fonts.googleapis.com/css?family=Playball|Poiret+One|Rajdhani');

html,body{width:100%;height:100%;margin:0;padding:0;}

*{box-sizing:border-box;margin:0;padding:0;}

header{height:15%;background-image:url("../img/flowers2.jpg");
display:flex;justify-content:center;align-items:center;}
h1{height:10%;color:#808000;font-family:'Playball',Georgia,cursive;}

#drink{height:5%;background-color:#d6ebad;text-align:left;}

p{margin-left:7%;color:#b03636;font-family:'Poiret One';font-size:40px;}

section{display:flex;}

#nav{height:600px;width:10%;background-color:#d6ebad;
display:flex;flex-direction:column;align-items:center;
justify-content:space-around;position:relative;top:-99px;
    background:linear-gradient(to bottom,#d6ebad,#ebf5d6,#f5faeb,#ffffff);
}

#nav a{;text-decoration:none;color:#b03636;}
#nav a:hover{color:#ffa500;}

article{width:70%;border:dotted #cbb91a 2px;margin:auto;margin-top:5px;
margin-bottom:5px;display:flex;flex-wrap:wrap;justify-content:space-between;}

div{}
#imgsoup{width:45%;}
#ingr{width:45%;padding:5px 10px 5px 20px;}
#prep{width:100%;padding:5px 10px 5px 20px;}
img{width:100%;height:100%;padding:10px}
h2{text-align:center;margin:30px;color:#b03636;font-family:cursive;}
h3{text-align:left;padding:10px;}
h3,ul,ol{font-family:'Poiret One',cursive;}
ul{}
ol{margin-left:10px;}


footer{height:5%;background-color:#d6ebad;}


/*@media only screen and (min-width:1024px) {
  
    h1{font-size:80px;}
    section{width:auto;}
    img{width:300px}
    #ingr{position:relative;left:-100px;}
    
}
*/