@import url('https://fonts.googleapis.com/css?family=Playball');

html,body{margin:0;padding:0;}

*{box-sizing:border-box;margin:0;padding:0;}

header{height:100px;background-image:url("../img/flowers2.jpg");
display:flex;justify-content:center;align-items:center;}
h1{color:#666600;font-size:55px;font-family:'Playball',Georgia,cursive;}
/*header font color: olive*/


nav{height:25px;background-color:#d6ebad;
display:flex;align-items:center;justify-content:space-around;}
/*navigation bar background color: sage */
nav a{width:15%;text-decoration:none;color:#b03636;}/*links font color: indian red*/
nav a:hover{color:#ffa500;} /*links hover font color: orange*/
/*nav a:active{color:#fffff0;font-size:1.5em;}*/

section{width:90%;border:dotted #cbb91a /*khaki*/ 2px;margin:auto;margin-top:5px;
margin-bottom:5px;display:flex;flex-direction:column;}

div{}
#imgsoup{width:99%;margin:auto;/*border:solid red;*/}
#ingr{padding:5px 10px 5px 20px;margin:3px;margin-right:0px;}
#prep{padding:5px 10px 5px 20px;margin:3px;margin-right:0px;}
img{width:100%;height:100%;padding:10px;}
h2{text-align:center;margin:30px;color:#b03636/*indian red*/;font-family:cursive;}
h3{text-align:left;padding:10px;}
h3,ul,ol{font-family:cursive;}
ul{}
ol{}


footer{height:20px;background-color:#d6ebad;}
/*footer background color: sage*/


@media only screen and (min-width:768px) {
  
    h1{font-size:70px;}
    section{width:80%;flex-direction:row;flex-wrap:wrap;justify-content:space-between;}
    
    #imgsoup{width:47%;margin:0;}
    #ingr{width:47%;}
    #prep{width:100%;}
    img{max-height:500px;padding:10px;}
    ol{margin-left:10px;}
}