html,body{height:100%;margin:0;}

*{box-sizing:border-box;}

header{height:15%;background-image:url("../img/flowers2.jpg");
display:flex;justify-content:center;align-items:center;}
h1{color:olive;font:italic bold 20px Georgia;padding-top:2px;}

nav{height:5%;background-color:#6B8E23;
display:flex;align-items:center;justify-content:space-around;}

nav a{width:15%;text-decoration:none;color:saddlebrown;}
nav a:hover{color:orange;}

section{height:75%;background-color:floralwhite;}

footer{height:5%;background-color:#6B8E23;opacity:.6;}


@media only screen and (min-width:768px) {
  
    h1{font-size:80px;}
    
}